body{
    margin: 0;
}
.section-1-Stay-Focused{
    display: flex;
    margin-bottom: 6%;
}

.border-left{
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    padding-left: 4%;
    margin-bottom: -20px;
    margin-top: -20px;
    position: relative; 
 
}
.border-left::before{
    position: absolute;
    content: "";
    top: 9px;
    left: 6px;
    width: 4px;
    height: 120px;
    background-color: #FF5959;
    border-radius: 15px;
}
.h1-span{
    color: #FFAD5A;
}
.sec-p1{
    font-size: 24px;
}
.sec-p2{
    font-size: 20px;
}
.half-width-1{
    width:40%;
    margin-left: 5%;
    padding-left: 4%;
    padding-top: 9%;
}
.half-width-1 img{
    width: 80%;
}
.half-width-2{
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width-2 img{
    width: 80%;
}
.anchor-button{
    text-decoration: none;
    background-color: #FF5959    ;
    padding: 17px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.one-third-width{
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    font-size: 20px;
}
.one-third-width img{
    width: 50%;
}
.section-2-my-mission{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5%;
}
.section-2-h2{
    font-size: 50px;
    text-align: center;
}
.one-third-width-1{
    width:27%;
    margin-left: 2.5%;
    padding: 2%;
    background-color: #edf5f6;
    border-radius: 10%;
}
.one-third-width-2{
    width:27%;
    margin-left: 2.5%;
    padding: 2%;
    background-color: #ffeeee;
    border-radius: 10%;
}
.one-third-width-3{
    width:27%;
    margin-left: 2.5%;
    padding: 2%;
    background-color: #fff4d6;
    border-radius: 10%;
}
.half-width-3{
    width:40%;
    margin-left: 0;
    padding-left: 0;
    font-size: 30px;
}
.half-width-4{
    width:40%;
    margin-left: 5%;
    padding-left: 4%;
    font-size: 30px;
}
.half-width-4 img{
    width: 70%;
}
.about-me{
    
    text-align: center;
    background-color: blanchedalmond;
    width: 70%;
    padding: 2%;
    margin: 5% auto;
    border-radius: 10px;
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    box-shadow: 10px 10px 40px gray;
}

.color-orange{
    color: #FF5959;
}
footer{
    text-align: center;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer h2{
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
}
footer p{
    color: #D9DBE1;
    font-family: 'Manrope', sans-serif;
}